doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible",content="ie=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    // bower:css
    link(rel='stylesheet', href='../components/bootstrap/dist/css/bootstrap.css')
    // endbower
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    nav.navbar.navbar-inverse(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/") Simulator 3000+
        ul.nav.navbar-nav
          li.active 
            a(href="/airports") Airports
          li
            a(href="/airlines") Airlines
          li
            a(href="/airplanes") Airplanes
          li
            a(href="/passengers") Passengers
          li
            a(href="/flights") Flights
          li
            a(href="/tickets") Tickets
          li
            a(href="/gates") Gates
    .container
      block content

    // bower:js
    script(src='../components/jquery/dist/jquery.js')
    script(src='../components/bootstrap/dist/js/bootstrap.js')
    // endbower
    script(src='javascripts/main.js')
