extends layout

block content
  h1 Ticket

  .label-columns
    .label-column
      span A
      span B
    .label-column
      span A
      span B
    .label-column
      span A
      span B
    .label-column
      span A
      span B
  .airplane-seats
    .airplane-column
    .airplane-column
    .airplane-column
    .airplane-column

