body {
  background-color: #333;
  color: #fff;
}

nav#navigation{
  margin-top: 20px;
  width: 100%;
  font-size: 1.2em;
  text-align: right;
}

nav#navigation a { 
  text-decoration: none;
  color: #fff;
}

nav#navigation ul li{
  display: inline-block;
  margin-right: 25px;
}

.label-columns {
  display: block;
}
.label-column {
  display: inline-block;
  width: 60px;
  border: 1px solid #fff;
}
.label-column span:first-child{
  float: left;
}

.label-column span:last-child{
  float: right;
}

.label-column:nth-child(2n + 1) {
  margin-right: 40px;
}
.label-column:nth-child(2) {
  margin-right: 20px;
}

.airplane-seats {
  display: block;
}
.airplane-column:nth-child(2n + 1) {
  margin-right: 40px;
}
.airplane-column:nth-child(2) {
  margin-right: 20px;
}

.airplane-column {
  display: inline-block;
  width: 60px;
  background-color: #FFF;
  height: 400px;
}

